

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @post.description %>
</p>

<p>
  <strong>Pictures:</strong>
  <br>
    <%= image_tag(@post.preview_main(0))%>
  <br>

  <% (0...@post.images.count).each do |image| %>
    <%= image_tag(@post.thumbnail(image))%>
  <% end %>


</p>

<p>
  <strong>Price:</strong>
  <%= @post.price %>
</p>

<p>
  <strong>User:</strong>
  <a href="../user/<%= @post.user.id%>"><%= @post.user.name %></a>
</p>

<p>
  <strong>Contact:</strong>
  <%= @post.user.phone %>
</p>

<%= display_show_post_links(@post) %>
